$fondoletras:  #000000cc;

body {
    background-image: url(../assets/img/pexels-pixabay-461049.jpg);
    background-size: cover;
}
.cuerpo {
    font-family: Lucida Sans Unicode ;
    color: antiquewhite;
    font-size: x-large;
    text-align: justify;
    border-radius: 20px;
    padding: 50px;
    border: solid 5px dimgrey;
    background-color: $fondoletras;
    width: 80%;
    margin: auto;
    height: 350px;
    }
/*responsive cuerpo index*/
@media screen and (max-width:414px) {
    .cuerpo {
        color: white;
        font-family: Verdana;
        font-size: small;
        text-align: justify;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 20px;
        padding: 5px;
        border: solid 5px dimgrey;
        width: 330px;
        margin: 13px;  
}
}
