/* inicio footer */
.direccionfooter {
    font-family: Verdana;
    text-align: center;
    color: black; 
    width: 90%;
    margin-left: 60px;
    
}   
.logoredes {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly; 
    border-radius: 20px;
    border: solid 5px dimgrey;
    background-image: linear-gradient(rgba(32, 68, 34, 0.836), rgb(148, 148, 141));
    margin-left: 700px;
    width: 300px;
    height: 70px;
    padding: 19px;
}

footer div h3 {
    border-radius: 20px;
    width: 100%;
    padding-left: 0px;
    padding-top:5px;
    padding-bottom: 5px;
    height: 20px 

    }
