/* inicio footer */
.direccionfooter {
    font-family: Verdana;
    text-align: center;
    color: black; 
    width: 90%;
    margin-left: 60px;
    
}   
.logoredes {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly; 
    border-radius: 20px;
    border: solid 5px dimgrey;
    background-image: linear-gradient(rgba(32, 68, 34, 0.836), rgb(148, 148, 141));
    margin-left: 785px;
    width: 300px;
    height: 70px;
    padding: 19px;
}

footer div h3 {
    border-radius: 20px;
    width: 100%;
    padding-left: 0px;
    padding-top:5px;
    padding-bottom: 5px;
    height: 20px 

    }
/* responsive footer*/

@media screen and (max-width:414px) {
    .direccionfooter {
        font-family: Verdana; 
        text-align: center;
        color:black; 
        font-size: small;
        width: 300px;
        height: 117px;
        margin-left: 26px;}

    .direccion-responsive {
        font-size: medium;}
    
    .logoredes {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly; 
        align-items: center;
        border: solid 5px dimgrey;
        color: antiquewhite;
        background-color: rgba(160, 157, 157, 0.8);
        border-radius: 20px;
        margin-left: 16px;
        width: 302px;
        height: 22px;}    
}
