.logosup {
    width: auto;
    padding-left: 500px;
    }    
.encabezado {
    margin-left: 230px;
    margin-top: 50px;
    padding: 20 px;
    border: 3px solid #eeecec;
    font-size: 2rem;
    font-weight: normal;
    color: antiquewhite;
}