$fondoletras:  #000000cc;

.logosup {
    background-color: linear-gradient(rgba(32, 68, 34, 0.836), rgb(148, 148, 141));
}

.card-body {
    background-color: rgb(178, 178, 189) ;
}
.card-text {
    color: brown;
    font-size: small;
    text-align: justify;
}

/*layout nosotros*/

@media screen and (max-width:414px) {
}
