.mapagoogle {
    width: 600px;
    height: 450px;
    border: solid 5px dimgray;
}
.ubicacion {
    width: 600px;
    height: 450px;
    margin-left: 500px;
}
@media screen and (max-width:414px) {
    .mapa {
        margin-left: 5px;
        width: 370px;
        color: gainsboro;
        border: solid 2px dimgrey;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .ubicacion {
        @extend .contacto;
        width: 330px;
        height: 200px;
        margin-left: 10px;
    } 
    
    .mapagoogle {
        width: 350px;
        height: 180px;
        border: 3px dimgray;
    }   
}